# Exécutables compilés
**/me/hello
**/world/hello
**/mario-less/mario
**/mario-more/mario
**/cash/cash
**/credit/credit
**/readability/readability
**/scrabble/scrabble
**/caesar/caesar
**/substitution/substitution

# Environnement virtuel Python
.venv/
__pycache__/
*.pyc

# Fichiers temporaires
*.o
*.a
*.so
*.dylib

# Fichiers système
.DS_Store
Thumbs.db
